*.mno
/inc/_notes/borrar.php - Copia.mno
/inc/_notes/borrar.php.mno
/inc/_notes/buscador.php - Copia.mno
/inc/_notes/buscador.php.mno
/inc/_notes/funciones.php.mno
/inc/_notes/listado.php - Copia.mno
/inc/_notes/listado.php.mno
